body{
  background-color: black
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}



h1{
  font-size: 4rem;
  color: whitesmoke;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;

}

.add-button {
  background-color: hsl(125, 47%, 54%);
  padding: 10px 20px;
  height: 44px;
  margin-left: 2px; /* Add margin between input and button */
  vertical-align: bottom;
  
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);

}

.complete-button {
  background-color: red
}

.complete-button:hover {
  background-color: darkred
}

.delete-button {
  background-color: red
}

.delete-button:hover {
  background-color: darkred
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(125, 47%, 44%);

}

.moveDown-button {
  background-color: hsl(207, 90%, 64%);
}

.moveDown-button:hover {
  background-color: darkred
}

input[type='text'] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  height: 44px;
  box-sizing: border-box; 
}

ol{
  padding: 0;
}

li{
  font-size: 2rem ;
  font-weight: bold;
  padding: 15px;
  background-color:whitesmoke;
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.763);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button, .complete-button, .move-button, .moveDown-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}